body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #add8e6;
  overflow-x: hidden;
}

#header {
  border-bottom: 1px solid black;
}

#header h3 {
  text-align: center;
  width: 100%;
}

#summering {
  width: 100%;
  margin-top: 3px;
  padding-top: 3px;
  border-bottom: 3px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
}

#knapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#knapper div {
  margin: 3px;
}

#knapper button {
  width: 105px;
  height: 50px;
}

#navigation div {
  margin: 5px;
}

#funktioner,
#navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#funktioner div {
  margin: 5px;
  width: 100px;
}

button {
  width: 100px;
  height: 45px;
}

#navigation {
  border-bottom: 1px solid black;
  padding: 3px;
  margin: 3px;
}
